*{
    box-sizing: border-box;
}
.MainHome-Container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
$lightBlack:#181b1f;
$blue:#242166;
$lightBlue:rgba(0,204,240,1);
$darkBlue:#0F0D21;
$purple:rgba(151,0,208,1);

.HomeHero-Container{
    background-color: $blue;
    font-size: 16px;
    padding:6em 3em;
    color:white;
    position: relative;
    &:after{
        content:' ';
        position: absolute;
        bottom: 0;
        left:0;
        width:100%;
        height: 1px;
        background-color: rgba(white,0.8);
        z-index: 1;
    }
    .Header-Container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        position: relative;
    }
    .Header-Info
    {
        max-width: 500px;
        text-align: left;

    }
    h2{
        font-size: 2.5em;
    }
    p{
        font-size: 1em;

    }
    a{
        text-decoration: none;
        color:inherit
    }
    button{
        background-color: $lightBlue;
        border-radius: 5px;
        border:none;
        padding:0.7em 2em;
        color:inherit;
        font-weight: 600;
        font-size: 1em;
        cursor: pointer;
        &:focus{
            background-color: darken($lightBlue,10%);
            outline:2px solid white;
        }
        &:hover{
            background-color: darken($lightBlue,10%);
        }
    }
    .HomeHero-Background{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: 1;
        
        filter:blur(2px);
        .circle{
            border-radius: 50%;
            position: absolute;
            background-color: lighten($blue, 5%);
        }
        .circle1{
            width: 200px;
            height: 200px;
            top:-40px;
            left:-40px;
        }
        .circle2{
            width: 200px;
            height: 200px;
            bottom:-30px;
            left:10%;
        }
        .circle3{
            width: 700px;
            height: 700px;
            bottom:0px;
            right:-100px;
        }
    }
}

.Favorites-Container{
    background: linear-gradient( $blue 0%, $darkBlue 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    color: white;
    position: relative;
    z-index: 0;
    flex-grow:1;
    h4{
        font-size: 1.5em;
        border-bottom: 3px solid $purple;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

    }
    .Favorites{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:30px;
        width:100%;
        padding:0px 1em;

    }

    .FavoritesCard{
        min-width: 170px;
        min-height: 220px;
        border:2px solid white;
        border-radius: 4px;
    }
}
@media (max-resolution:1dpi)
{
    .Favorites{
        overflow-y: auto;
    }
}