* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.MainHome-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.HomeHero-Container {
  background-color: #242166;
  font-size: 16px;
  padding: 6em 3em;
  color: white;
  position: relative;
}

.HomeHero-Container:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.HomeHero-Container .Header-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: relative;
}

.HomeHero-Container .Header-Info {
  max-width: 500px;
  text-align: left;
}

.HomeHero-Container h2 {
  font-size: 2.5em;
}

.HomeHero-Container p {
  font-size: 1em;
}

.HomeHero-Container a {
  text-decoration: none;
  color: inherit;
}

.HomeHero-Container button {
  background-color: #00ccf0;
  border-radius: 5px;
  border: none;
  padding: 0.7em 2em;
  color: inherit;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.HomeHero-Container button:focus {
  background-color: #00a1bd;
  outline: 2px solid white;
}

.HomeHero-Container button:hover {
  background-color: #00a1bd;
}

.HomeHero-Container .HomeHero-Background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.HomeHero-Container .HomeHero-Background .circle {
  border-radius: 50%;
  position: absolute;
  background-color: #2b2779;
}

.HomeHero-Container .HomeHero-Background .circle1 {
  width: 200px;
  height: 200px;
  top: -40px;
  left: -40px;
}

.HomeHero-Container .HomeHero-Background .circle2 {
  width: 200px;
  height: 200px;
  bottom: -30px;
  left: 10%;
}

.HomeHero-Container .HomeHero-Background .circle3 {
  width: 700px;
  height: 700px;
  bottom: 0px;
  right: -100px;
}

.Favorites-Container {
  background: -webkit-gradient(linear, left top, left bottom, from(#242166), to(#0F0D21));
  background: linear-gradient(#242166 0%, #0F0D21 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: white;
  position: relative;
  z-index: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Favorites-Container h4 {
  font-size: 1.5em;
  border-bottom: 3px solid #9700d0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Favorites-Container .Favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
  padding: 0px 1em;
}

.Favorites-Container .FavoritesCard {
  min-width: 170px;
  min-height: 220px;
  border: 2px solid white;
  border-radius: 4px;
}

@media (-webkit-max-device-pixel-ratio: 0.010416666666666666), (max-resolution: 1dpi) {
  .Favorites {
    overflow-y: auto;
  }
}
/*# sourceMappingURL=home.styles.css.map */